{% extends 'base.html' %}
{% block content %}
  <div class="container my-5">
    <h1>Fresh </h1>
    <div class="col-lg-8 px-0 ">
      <p class="fs-5">
        {% if delta == 0 %}
        all time.
        {% elif delta == 1 %}
        today
        {% else %}
        in last {{delta}} days
        {% endif %}
      </p>
      <div class="list-group">
        {% for bookmark in bookmarks %}
          <a class= "list-group-item list-group-item-action d-flex justify-content-between align-items-start"href= {% url 'bookmark' bookmark.id %}>
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ bookmark.title }} <small class="text-muted">({{bookmark.url}})</small></div>
                By: {{ bookmark.author }} at: {{bookmark.created_at|date:"d E Y"}}, {{bookmark.created_at|time:"H:i"}}
              </div>
              <span class="badge bg-primary rounded-pill">{{ bookmark.rating }} points</span>
          </a>
        {% endfor %}
        </div>

      <hr class="col-1 my-4" />

      <a href="https://getbootstrap.com" class="btn btn-primary">Read the Bootstrap docs</a>
      <a href="https://github.com/twbs/examples" class="btn btn-secondary">View on GitHub</a>
    </div>
  </div>
{% endblock %}
